@{
    ViewBag.Title = "Ficha";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model AppMC.Models.PostulacionModels.ProcesoUsuario

<h2>Ficha</h2>
<input type="hidden" id="txtcodusu" class="form-control" value="@ViewBag.NCODIGOUSUARIO" />
<input type="hidden" id="txtperfil" class="form-control" value="@ViewBag.NIDPERFIL" />
<input type="hidden" id="txtmensaje_ult" class="form-control" value="@ViewBag.MENSAJE" />
<input type="hidden" id="codAnterior" value="0"/>

<div class="row">
    <div class="col-md-2">
        <label class="control-label">CONVOCATORIA:</label>
        <select id="ddl_Tipo" onchange="CargarProcesos();" class="form-control" >
            <option value="1" selected>CAS</option>
            <option value="2">VOLUNTARIADO</option>
        </select>
    </div>
        <div class="col-lg-8">
            <label class="control-label">PROCESO:</label>
            <select id="ddl_Proceso" tabindex="-1" class="form-control search-select select2-offscreen" onchange="SetCodigo();"></select>
            <input type="hidden" id="NIDPROCESO" value="0" />
        </div>
        <div class="col-md-2">
            &nbsp;<br /><p><button type="button" class="btn btn-red" id="btn_guardarConv"> Agregar    <i class="fa fa-save"></i> </button></p><br />

        </div>
    </div>
<div class="row" id="DivActividades" style="display:none;padding-bottom:20px;">
    <div class="col-lg-10">
        <label class="control-label">ACTIVIDAD:</label>
        <select id="ddl_Actividad" tabindex="-1" class="form-control search-select select2-offscreen" onchange="SetCodigoA();"></select>
        <input type="hidden" id="NIDACTIVIDAD" value="0" />
    </div>
    
</div>
<div class="row" id="DivActividades2" style="display:none;padding-bottom:10px;">
    <div class="col-md-3">
        <label class="control-label" style="font-weight:bold">DESCRIPCIÓN:</label>
        <div id="descripcionA"></div>
    </div>
    <div class="col-md-3">
        <label class="control-label" style="font-weight:bold">PERFIL Y COMPETENCIAS:</label>
        <div id="perfilA"></div>
    </div>
    <div class="col-md-5">
        <label class="control-label" style="font-weight:bold">ACCIONES:</label>
        <div id="accionesA"></div>
    </div>
    <div class="col-md-1">
        <label class="control-label" style="font-weight:bold">VACANTES:</label>
        <div id="vacantesA"></div>
    </div>
</div>

    <div class="row">
        <div class="col-lg-11">
            <div class="table-responsive">
                <table class="display compact" id="tbl_ProcesoUsuario" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th style="display:none; text-align:center;">NIDPROCESOUSU</th>
                            <th style="display:none; text-align:center;">NIDPROCESO</th>
                            <th style="display:none; text-align:center;">NIDCODIGOUSUARIO</th>
                            <th style="text-align:center; width:60%;">PROCESO</th>
                            <th style="text-align:center; width:10%;">FINALIZAR FICHA</th>
                            <th style="text-align: center; width: 10%;">IMPRIMIR FICHA</th>
                            <th style="text-align: center; width: 10%;">EDITAR FICHA</th>
                            <th style="text-align: center; width: 10%;">ELIMINAR FICHA</th>
                            <th style="display:none;">BESTADO</th>
                            <th style="width:10%;">MENSAJE</th>
                            <th style="display:none;">NTIPO</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>



    <script src="@Url.Content("~/js/Vistas/Postulacion/Ficha.js")" type="text/javascript"></script>
